.episode-card {
    background-color: $light-bg-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
    @include desktop {
        flex-direction: row;
        padding-top: 0rem;
    }
    
    .card-image {
        width: 150px;
    }

    .episode-text {
        padding: 1rem;
        font-size: large;
        @include desktop {
            font-size: x-large;
        }
    }

    .guest-avatar {
        width: 200px;
        margin-bottom: 0;
    }

    .episode-title {
        color: $light-green;
        margin-bottom: .5rem;
    }

    .episode-guest {
        color: $light-red;
        text-align: center;

        @include desktop {
            text-align: left;
        }
    }
}