input, textarea {
    background-color: $light-bg-color;
    border: 1px solid $light-bg-color;
    padding: .5rem 1rem;

    &:hover, &:focus, &:active {
        border-color: $red;
        outline: none;
    }
}

label {
    margin-top: 1rem;
}

.error {
    padding: 1rem;
    text-align: center;
    background-color: $bg-red;
    border: 1px solid $red;
    color: $red;
    margin: .2rem 0rem;
}

.email {
    text-decoration: underline;
    color: $red;
    transition: all .5s ease-in-out;
    cursor: pointer;
    position: relative;

    &:hover {
        color: $green;
        transition: all .5s ease-in-out;
    }
}


.copied-tooltip {
    position: absolute;
    top: 1rem;
    left:0;
    background-color: $bg-green;
    font-size: small;
    padding: .3rem;
    margin: .5rem;
    color: $green;
    border-radius: .5rem;

    animation: 1s linear forwards fadeout;
}


@keyframes fadeout {
    from {
        opacity: 1;
    }

    to {
        opacity: .2;
    }
}


.mdx {
    padding: 0rem 1rem;

    @include desktop {
        padding: 0rem 3rem;
    }
    
    h1, h2, h3 {
        margin: .67em 0;
        padding-top: .5rem;
      &:before {
          content: url(../images/icons/red-plane.svg);
          margin-right: .5rem;
      }  
    }


    p {
        margin: .67em 0;
        line-height: 1.6;
        text-rendering: optimizelegibility;
        letter-spacing: .03em;
    }

    a {
        color: $red;
        text-decoration: underline;
        transition: all .5s ease-in-out;

        &:hover {
            color: $green;
            transition: all .5s ease-in-out;
        }
    }

    ul {
        list-style-type: circle;
        list-style-position: inside;
        padding-left: 1rem;
    }

    .transcript-fabio {
        color: $red;
    }
    .transcript-guest {
        color: $green;
    }

    .link-button {
        text-decoration: none;
        background-color: $bg-green;
        border: 1px solid $green;
        color: $green;
        transition: all .5s ease-in-out;
        padding: .3rem;
    
        &:hover {
            background-color: $bg-red;
            color: $red;
            border-color: $red;
            transition: all .5s ease-in-out;
        }
    }

    .youtube-mdx-embed {
        margin: 2rem 0rem;
    }

    .twitter-tweet {
        padding-top: 1rem;
    }

    .quote::before {
        content: "“";
        background-color: $red;
        color: $dark-bg-color;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 35px;
        height: 35px;
        top: 0px;
        left: 0px;
        transform: translateX(-50%) translateY(-25%);
        font-variant: all-small-caps;
        font-style: normal;
        font-weight: 700;
        font-size: 2.25rem;
        border-radius: 50%;
    }

    .information::before {
        content: "i";
        background-color: $red;
        color: $dark-bg-color;
        display: flex;
        justify-content: center;
        position: absolute;
        width: 35px;
        height: 35px;
        top: 0px;
        left: 0px;
        transform: translateX(-50%) translateY(-25%);
        font-style: normal;
        font-weight: 700;
        font-size: 1.25rem;
        border-radius: 50%;
    }

    .warning{
        position: relative;
        background-color: #fc40561c;
        border-left: 5px solid $red;
        margin: 1.5em 10px;
        padding: 1em;
        font-style: italic;

        &::before {
            display: inline-flex;
            justify-content: center;
            text-align: center;
            content: "!";
            position: absolute;
            color: $dark-bg-color;
            width: 35px;
            height: 35px;
            top: 0;
            left: 0;
            transform: translateX(-50%) translateY(-25%);
            background-color: $red;
            font-style: normal;
            font-weight: 700;
            font-size: 1.25rem;
            clip-path: polygon(50% 0,0 100%,100% 100%);
        }
    }

    .highlight {
        position: relative;
        background: $light-bg-color;
        border-left: 5px solid $red;
        margin: 1.5em 10px;
        padding: 1em;
        font-style: italic;

        p {
            display: flex;
            flex-direction: column;
        }

        a {
            margin-top: .5rem;
        }
    }
}

.soundcloud-iframe {
    padding: 1rem;
    background-color: $light-bg-color;
    margin-bottom: 1rem;
}

.newsletter-cta {
    border: 1px solid $red;
    background-color: $dark-bg-color;
}

.table-of-contents {
    position: fixed;
    z-index: 10;
    width: 20%;
    right: 1.5rem;
    background-color: #37275c;
    border: 1px solid #fc4056;
    padding: 1rem;
}

.hide-out {
    animation: slide-out 5s forwards;
}

@keyframes slide-out {
    0% {
        right: 1.5rem;
    }
    50% {
        right: -10rem;
    }
    100% {
        right: -400rem;
    }
}