@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


$bg-color: #271B40;
$light-bg-color: #37275C;
$dark-bg-color: #251333;

$bg-green: #243043;
$light-green: #84FAB1;
$green: #0EFB69;

$red: #FC4056;
$light-red: #FAA0AB;
$bg-red: #3A1D41;

$blue: #0EA1FB;

$desktop-size: 740px;

@mixin desktop {
    @media(min-width: #{$desktop-size}) {
      @content
    }
  };

html {
    background-color: $bg-color;
    font: 112.5%/1.61 'Montserrat',sans-serif;
}

body {
    color: white;
}

header {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: $dark-bg-color;
    border-bottom: 1px solid $light-bg-color;
    padding: 3rem 0rem 2rem;

    @media(min-width: 1125px) {
        flex-direction: row;
    }

    .logo {
        @media(max-width: 1125px) {
            flex: none;
        }
    }
}

footer {
    background-color: $dark-bg-color;
    border-top: 1px solid $light-bg-color;
    padding: 1.5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    @include desktop {
        display: flex;
    }
}

h1, h2, h3 {
    color: $green;
    font-weight: 500;
}

h1 {
    font-size: 1.5rem;
    @include desktop {font-size: 2rem;}
    
}

h2 {
    font-size: 1.51572rem;
}

h3 {
    font-size: 1.31951rem;;
}

.sound-cloud {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100vw;
    background-color: $light-bg-color;
    margin-top: 0;
    padding: .5rem 1rem;
}

.nav-link {
    color: $red;
    text-decoration: underline;
    transition: all .5s ease-in-out;

    &:hover {
        color: $green;
        transition: all .5s ease-in-out;
    }
}

.green-button {
    background-color: $bg-green;
    border: 1px solid $green;
    color: $green;
    transition: all .5s ease-in-out;
    text-decoration: none;

    &:hover {
        background-color: $bg-red;
        color: $red;
        border-color: $red;
        transition: all .5s ease-in-out;
    }
}


.card {
    background-color: $dark-bg-color;

    .card-title {
        text-transform: capitalize;
        text-align: center;
        margin: 2rem;
        @include desktop {
            margin: 3rem 4rem;
        }
        
    }

    .images-area {
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 2rem;

        .decoration {
            display: none;

            @include desktop {
                display: block;
            }
        }
    }

    .avatar {
        width: 200px;
        border-radius: 50%;
    }

    .latest-episode {
        margin-top: 2rem;
        background-color: $blue;
        color: $dark-bg-color;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 3rem;
    }

    .guest-name {
        color: $red;
        font-size: xx-large;
        text-align: center;
        font-weight: 500;
        @include desktop {
            font-size: xxx-large;
        }
    }

    .guest-job {
        color: white;
        text-align: center;
    }
}


.plane {
    &:before {
        content: url(../images/icons/red-plane.svg);
        margin-right: .5rem;
    }  
}

.green-plane {
    &:before {
        content: url(../images/icons/plane.svg);
        margin-right: .5rem;
    }  
}

.red {
    color: $red;
}

.medium-text {
    font-size: medium;
}

@import './elements.scss';
@import './icons.scss';
@import './components.scss';